:root {
    --color-text-primary: #ffffff;
    --color-text-secondary: #bfbfbf;

    --color-background: #1c1c1c;
    --color-foreground: #212121;
    
    --color-button-unselected: #292929;
    --color-button-selected: #2f2f2f;
    --color-button-blue-unselected: #4dc3ff;
    --color-button-blue-selected: #48b3e9;
    --color-hyperlink-button-text: #93e1f4;

    --font-family-sans-serif: "Segoe UI Variable Display", "Segoe UI", "Inter", sans-serif;
    --control-corner-radius: 4px;
}

/* Spacings */
.space-1\/2rem {
    height: 0.5rem;
}

.space-1rem {
    height: 1rem;
}

.space-2rem {
    height: 2rem;
}

.space-4rem {
    height: 4rem;
}

.space-8rem {
    height: 8rem;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.all-small-caps {
    font-variant-caps: all-small-caps;
}



/* Styling */
* {
    font-family: var(--font-family-sans-serif);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-background);

    color: var(--color-text-primary);
    vertical-align: middle;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-foreground);
    
    padding: 5px 0;
}

.logo {
    display: flex;
}

.logo i {
    padding: 5px 10px;
    font-size: 41.2px;
}

a {
    display: flex;
    align-items: center;
    color: var(--color-text-primary);
    text-decoration: none;
}

.header-title {
    font-size: 1.45rem;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-foreground);
    
    border-top: 1px solid var(--color-button-selected);
    flex-basis: 50px;
    padding: 5px 0;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 10px;

    font-size: small;
    color: gray;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    list-style-type: none;
    padding: 0 20px;
}

.social-links a {
    color: var(--color-text-secondary);
}

.body {
    display: flex;
    flex-direction: column;
    flex: auto;
    text-align: center;
    padding: 10px 0;
    margin: 15px 0 0 0;
    justify-content: space-between;
}

.body-upper {
    display: flex;
    flex-direction: column;
}

.body-lower {
    display: flex;
    flex-direction: column;
}

.header-chip {
    background-color: var(--color-foreground);
    border-radius: 50px;
    color: var(--color-text-primary);
    display: inline-flex;
    font-weight: 600;
    line-height: 18px;
    margin-block-end: 8px;
    padding: 4px 16px;
}

.title-text {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    font-size: 4.8rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 23% 0 23%;
    margin: 1em 0 2em 0;
}

.about-text p {
    display: flex;
    max-width: 745px;
}

.about-text p {
    padding: 5px;
    margin: 0;
}

.buttons-spacer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    padding: 5px 0;
    margin: 0;
}

.button-container {
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.65rem;
}

.button-container .row {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.65rem;
}

.button-contact {
    align-items: center;
    border-radius: var(--control-corner-radius);

    font-size:  1.4rem;
    font-weight: 400;
    text-align: start;
    text-decoration: none;

    padding: 5px 11px 6px;
    transition: background-color 300ms ease;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-break: break-word;
    
    background-color: var(--color-button-unselected);
    box-shadow: 1px 1px 8px black;
}

.button-contact:hover {
    background-color: var(--color-button-selected);
}

.button-icons {
    font-size: 14px;
}

.hero-button-inner {
    -webkit-margin-start: 8px;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    line-height: normal;
    margin-inline-start: 8px;
}

.hero-button-inner h5 {
    font-weight: 600;
    margin: 0;
}

.hero-button-inner span {
    font-size: 0.67em;
    margin: 0;
    color: var(--color-text-secondary);
}

.button-blue {
    border-radius: var(--control-corner-radius);
    padding: 5px 10px 6px;
    transition: background-color 300ms ease;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-break: break-word;
    
    background-color: var(--color-button-blue-unselected);
    color: black;
}

.button-blue:hover {
    background-color: var(--color-button-blue-selected);
}

.hyperlink-button {
    border-radius: var(--control-corner-radius);
    padding: 5px 10px 6px;
    transition: background-color 300ms ease;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-break: break-word;
    
    background-color: transparent;
    color: var(--color-hyperlink-button-text);
}

.hyperlink-button:hover {
    background-color: var(--color-button-unselected);
}


.about {
    padding: 0.5rem 0 1.25rem 0;
}

.projects {
    padding: 1rem 0 2rem 0;
    border-top: 1px solid var(--color-button-selected);
}

.contact {
    padding: 1rem 0;
    border-top: 1px solid var(--color-button-selected);
}

.header-inner {
    align-items: center;
    display: flex;
    margin-left: 0.25rem;
}


.header-logo {
    margin-left: 2.5px;
    padding: 0 2.5px;
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.divider {
    -webkit-border-start: 2px solid var(--color-button-unselected);
    border-inline-start: 2px solid var(--color-button-unselected);
    height: 30px;
    margin: 0 6px;
}

.item {
    border-radius: var(--control-corner-radius);
    color: var(--text-color-primary);
    justify-content: center;
    margin: 0 4px;
    padding: 5px 11px 6px;
    text-decoration: none;
    transition: background-color 83ms linear;
    gap: 0.2rem;
    fill: var(--color-text-primary);
}

.item.selected, .item:hover {
    background-color: var(--color-button-unselected);
    color: var(--color-hyperlink-button-text);
    fill: var(--color-hyperlink-button-text);
}

.header-outer {
    align-items: center;
    display: flex;
}

.header-outer a {
    padding: 5px;
    margin: 0 10px 0 0;
    fill: var(--color-text-primary);
}

.button-small {
    border-radius: var(--control-corner-radius);
    color: var(--text-color-primary);
    justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: background-color 150ms linear;
    gap: 0.2rem;
    fill: var(--color-text-primary);
}

.button-small:hover {
    background-color: var(--color-button-unselected);
    color: var(--color-hyperlink-button-text);
    fill: var(--color-hyperlink-button-text);
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;

    border-radius: var(--control-corner-radius);
    padding: 5px;
    width: 21rem;
    height: 14rem;

    font-size:  1.4rem;
    font-weight: 400;
    text-align: start;
    text-decoration: none;
    transition: background-color 300ms ease;
    
    background-color: var(--color-button-unselected);
    box-shadow: 1px 1px 8px black;
}

.project-header {
    padding: 5px;
}

.latest-projects-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: center;
    padding: 0 1.25rem;

    column-gap: 1.5rem;
    row-gap: 2rem;
}

.project-container-left {
    display: flex;
    flex-direction: column;
    max-width: 14rem;
    gap: 0.35rem;
    
    padding-left: 5px;
    flex-grow: 1;
}

.project-container-right {
    display: flex;
    flex-direction: column;

    padding: 5px 5px;
}

.project-container-left-text {
    display: flex;
    font-size: 0.98rem;
    margin-right: 5px;
}

.project-image {
    width: 6rem;
    /*box-shadow: 1px 1px 8px black;*/
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

.project-footer {
    display: flex;
    gap: 0.5rem;
    margin-top: auto;
    padding-bottom: 5px;
}

@media only screen and (max-width: 768px) {

}

/* BLOG */

.blog-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    column-gap: 1.5rem;
    gap: 2.5rem;

    padding: 2rem;
    margin: 0 1.5rem;
    text-align: left;
}

@media only screen and (max-width: 1280px) {
    .blog-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }   
}

.blog-item {
    display: flex;
    flex-direction: column;
    
    height: 14rem;
    width: 33rem;
    max-width: calc(100% - 2.5rem);

    background-color: var(--color-foreground);
    border-radius: 0.25rem;
    box-shadow: 1px 1px 8px black;
    position: relative;
}

.blog-item-title {
    display: flex;
    margin: 0;
    padding: 1rem 1.5rem 0 1.5rem;
}

.blog-item-subtitle {
    display: flex;
    margin: 0;
    padding: 0 1.5rem 0 1.5rem;
    margin-bottom: 0.425rem;

    font-style: italic;
    color: var(--color-text-secondary);
}

.blog-item-content {
    display: flex;
    color: var(--color-text-secondary);
    padding: 0 1.5rem 0 1.5rem;
    margin: 0.425rem 0 0.5rem 0;
}

.blog-item-type-date {
    display: flex;
    flex-direction: row;
    margin-top: auto;

    padding: 0 1.5rem 0.95rem 1.5rem;
    margin-top: 0.5rem;
}

.blog-item-type span {
    font-weight: 600;
}

span.dev-blog {
    color: #2ed872;
}

span.update {
    color: #d8a126;
}

.blog-item-hyphen {
    margin: 0 0.75rem;
    font-weight: 500;
    color: var(--color-text-secondary);
}

.blog-item-date span {
    color: var(--color-text-secondary);
}

a.overlay {
    width: 100%; 
    height: 100%; 
    position: absolute;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.fade-text {
    overflow: hidden;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(#ffffff, #ffffff00);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #141414;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 95, 95)242;
}

/* TeamSleaze Page - Projects Cards */
.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 2.5rem;
    width: 80%;
}
.cards .card{
    border-radius: 10px;
    
    box-shadow: 0 0 30px black;
    background-color: var(--color-foreground);
}
.cards .container{
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.cards img {
    display: block;
    width: 100%;

    border-radius: 10px 10px 0 0;
}
.cards .container:after {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 10px 10px 0 0;
    opacity: 0.7;
}

.cards .details {
    padding: 20px 10px;
    text-align: left;
}

.cards .details a {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    margin: 10px 0;
    padding-left: 20px;
    
    font-size: 1.3rem;
    font-weight: 600;
    
    color: var(--color-text-primary);
}

.cards .details a i {
    font-size: 1rem;
    padding: 0.4rem 0 0 0.5rem;
}

.cards .details .description {
    padding: 8px 0 0 0;
    text-align: left;
}

.cards .details .description p {
    padding: 0 20px;
    margin: 0;

    font-size: 15px;
    line-height: 25px;
    
    color: var(--color-text-secondary);
}