---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "Sleaze",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			I'm a 18-year-old hobbyist developer from Germany and have a great interest 
			in electronics and robotics. Since 2019 (when I started programming) I developed 
			many different skills but quickly set my focus on expanding and coding games.
		</p>
		<p>
			I'm currently learning C++ while studying Computer Science in Bonn.
		</p>
	</div>
</PageLayout>
