---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "Sleaze",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			I'm Sleaze, a passionate coder and gamer! I love to make websites, games
			and fiddle around with any sort of technical stuff. I'm coding since 2019
			and you can check out my work on my Github! I also play a lot of games
			with my friends and by myself! I started of playing Minecraft for over 7
			years and over time slowly expanded to shooters like Valorant and PUBG.
			I'm a big Star Wars fan having watched every series dozens of times.
		</p>
	</div>
</PageLayout>
