---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";
import ProjectsList from "@/components/ProjectsList";

const meta = {
	title: "Home",
	description: "Sleaze",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Hello there!</h1>
		<p class="mb-4">
			I'm a <!-- age starts -->19<!-- age ends -->-year-old developer from Germany.
			I code games in Godot.
		</p>
		<SocialList />
	</section>

	<section class="mt-12">
		<h2 class="mb-4 text-xl title">Projects</h2>
		<ProjectsList />
	</section>
</PageLayout>
