---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";
import ProjectsList from "@/components/ProjectsList";

const meta = {
	title: "Home",
	description: "Sleaze",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Hello there!</h1>
		<p class="mb-4">
			I'm a 18-year-old hobbyist developer from Germany and have 
			a great interest in electronics and robotics. 
			Since 2019 (when I started programming) I developd many different 
			skills but quickly set my focus on expanding and coding games.
		</p>
		<SocialList />
	</section>

	<section class="mt-12">
		<h2 class="mb-4 text-xl title">Projects</h2>
		<ProjectsList />
	</section>
</PageLayout>
