:root {
    --custom_checkbox_color_gold: #c29034;
    --custom_checkbox_color_blue: #0d0df1;
    --custom_checkbox_color_aqua: #00afdb;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0 15px;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 8rem);

    text-align: left;
}

.content-latest-update {
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px 15px;
    margin: 0 auto 60px auto;
    max-width: 48rem;
    width: calc(100% - 8rem);

    text-align: left;
}

br {
    line-height: 1.2em;
}

[class=br-1rem] {
    line-height: 1rem;
}

[class=br-2rem] {
    line-height: 2rem;
}

[class=br-4rem] {
    line-height: 4rem;
}

[class=br-8rem] {
    line-height: 8rem;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.00em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

p {
    font-size: 1em;
    margin: 6px 0;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

blockquote {
    border-left: 5px solid #ffffff;
    margin: 1.5em 10px;
    padding: 0.5em 10px 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

li {
    display: list-item;
}

ul {
    display: block;
    list-style-type: disc;
    list-style-type: square;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}

li ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}

li ol {
    display: block;
    list-style-type: upper-latin;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}

pre {
    display: block;
    font-size: 97.5%;
    color: var(--color-text-secondary);
    background-color: #0d0e0f;
    
    padding: 10px 10px 10px 16px;
    border-radius: 4px;

    overflow-x: auto;
}

pre code {
    background-color: transparent;
    padding: 0;
}

[class=cb-20] {
    width: 20rem;
}

[class=cb-40] {
    width: 40rem;
}

[class=cb-60] {
    width: 60rem;
}

[class=cb-80] {
    width: 80rem;
}

code {
    font-size: 87.5%;
    color: #929292;
    border-radius: 4px;
    background-color: #0d0e0f;

    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

a {
    color: #0365ad;
    text-decoration: underline #353535;
    transition: 250ms ease;
}

a:hover {
    text-decoration: underline #0365ad;
}

#a-logo {
    display: flex;
    align-items: center;
    color: var(--color-text-primary);
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border: 1px solid #dee2e6;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

thead th {
    border-bottom-width: 2px;
}
table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table td, table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

hr {
    border: none;
    height: 4px;
    color: #929292;
    background-color: #929292;

    margin-top: 5px;
    margin-bottom: 5px;
}

mark {
    padding: 0.05em 0.2em 0.1em 0.2em;
    background-color: #c29034;
}

/* Custom Checkbox */

.container .list {
  margin: 16px 0 16px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.form-element {
  position: relative;
  width: 100px;
  height: 100px;
}
.form-element input[type=checkbox] {
  display: none;
}
.form-element label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border: 2px solid #dddddd;
  background: #ffffff;
  box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.1);
  text-align: center;
  transition: all 150ms ease-in-out;
  border-radius: 5px;
}
.form-element .icon {
  margin-top: 10px;
  font-size: 30px;
  color: #555555;
  transition: all 150ms ease-in-out;
}
.form-element .title {
  font-size: 15px;
  font-weight: 500;
  color: #555555;
  padding: 5px 0px;
  transition: all 150ms ease-in-out;
  user-select: none;
  cursor: text;

}
.form-element label:before {
  content: "✓";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 8px;
  left: 8px;
  background: var(--custom_checkbox_color_aqua, blue);
  color: #ffffff;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 150ms ease-in-out;
}
.form-element input[type=checkbox]:checked + label:before {
  opacity: 1;
  transform: scale(1);
}
.form-element input[type=checkbox]:checked + label .icon {
  color: var(--custom_checkbox_color_aqua, blue);
}
.form-element input[type=checkbox]:checked + label .title {
  color: var(--custom_checkbox_color_aqua, blue);
}
.form-element input[type=checkbox]:checked + label {
  border: 2px solid var(--custom_checkbox_color_aqua, blue);
}

.checklist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checklist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checklist-item label {
    padding-left: 0.2rem;
}

.blog-title {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.2rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.blog-item-type-date p {
    margin: 0;
    padding: 0;
}

.blog-item-type-date {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5rem;
}

.blog-item-date {
    color: var(--color-text-secondary);
}

.blog-item-hyphen {
    margin: 0 0.5rem !important;
    font-weight: 500;
    color: var(--color-text-secondary);
}

.blog-item-type {
    font-weight: 600;
}

.blog-item-type.dev-blog {
    color: #2ed872;
}

.blog-item-type.update {
    color: #d8a126;
}



/* Style Website */
:root {
    --invisible: #ffffff00;

    --color-text-primary: #ffffff;
    --color-text-secondary: #bfbfbf;

    --color-background: #1c1c1c;
    --color-foreground: #212121;
    
    --color-button-unselected: #292929;
    --color-button-selected: #2f2f2f;
    --color-button-blue-unselected: #4dc3ff;
    --color-button-blue-selected: #48b3e9;
    --color-hyperlink-button-text: #93e1f4;

    --font-family-sans-serif: "Segoe UI Variable Display", "Segoe UI", "Inter", sans-serif;
    --control-corner-radius: 4px;
}

* {
    font-family: var(--font-family-sans-serif);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-background);

    color: var(--color-text-primary);
    vertical-align: middle;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-foreground);
    
    padding: 5px 0;
}

.logo {
    display: flex;
}

.logo i {
    padding: 5px 10px;
    font-size: 41.2px;
}

#a {
    display: flex;
    align-items: center;
    color: var(--color-text-primary);
    text-decoration: none;
}

.header-title {
    font-size: 1.45rem;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-foreground);
    
    border-top: 1px solid var(--color-button-selected);
    flex-basis: 50px;
    padding: 5px 0;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 10px;

    font-size: small;
    color: gray;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    list-style-type: none;
    padding: 0 20px;
}

.social-links a {
    color: var(--color-text-secondary);
}

.body {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    margin: 15px 0;
    flex-grow: 1;
}

.header-chip {
    background-color: var(--color-foreground);
    border-radius: 50px;
    color: var(--color-text-primary);
    display: inline-flex;
    font-weight: 600;
    line-height: 18px;
    margin-block-end: 8px;
    padding: 4px 16px;
}

.title-text {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    font-size: 4.8rem;
}

.header-inner {
    align-items: center;
    display: flex;
    margin-left: 0.25rem;
}


.header-logo {
    margin-left: 2.5px;
    padding: 0 2.5px;
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.divider {
    -webkit-border-start: 2px solid var(--color-button-unselected);
    border-inline-start: 2px solid var(--color-button-unselected);
    height: 30px;
    margin: 0 6px;
}

.item {
    display: flex;
    border-radius: var(--control-corner-radius);
    color: var(--text-color-primary);
    justify-content: center;
    margin: 0 4px;
    padding: 5px 11px 6px;
    text-decoration: none;
    transition: background-color 83ms linear;
    gap: 0.2rem;
    fill: var(--color-text-primary);
}

.item.selected, .item:hover {
    background-color: var(--color-button-unselected);
    color: var(--color-hyperlink-button-text);
    fill: var(--color-hyperlink-button-text);
}

.header-outer {
    align-items: center;
    display: flex;
}

.header-outer a {
    padding: 5px;
    margin: 0 10px 0 0;
    fill: var(--color-text-primary);
}


.latest-posts {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0.5rem 0;
    padding: 0 1.5rem 0 1.5rem;
}

.latest-posts-title {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-text-primary);
    
    padding: 0;
    margin: 0;
}

.latest-posts-subtitle {
    font-weight: 500;
    color: var(--color-text-secondary);
    
    padding: 0.1rem;
    margin: 0;
}



.blog-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    column-gap: 1.5rem;
    gap: 2.5rem;

    padding: 2rem;
    text-align: left;
}

@media only screen and (max-width: 1280px) {
    .blog-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }   
}

.blog-item {
    display: flex;
    flex-direction: column;
    
    height: 16rem;
    width: 32rem;
    max-width: calc(100% - 2.5rem);

    background-color: var(--color-foreground);
    border-radius: 0.25rem;
    box-shadow: 1px 1px 8px black;
    position: relative;
}

.blog-item-title {
    display: flex;
    margin: 0;
    padding: 1rem 1.5rem 0 1.5rem;
}

.blog-item-subtitle {
    display: flex;
    margin: 0;
    padding: 0 1.5rem 0 1.5rem;
    margin-bottom: 0.425rem;

    font-style: italic;
    color: var(--color-text-secondary);
}

.blog-item-content {
    display: flex;
    color: var(--color-text-secondary);
    padding: 0 1.5rem 0 1.5rem;
    margin: 0.425rem 0 0.5rem 0;
}

.blog-item-type-date-latest {
    display: flex;
    flex-direction: row;
    margin-top: auto;

    padding: 0.25rem 1.5rem 0.95rem 1.5rem;
}

.blog-item-type span {
    font-weight: 600;
}

span.dev-blog {
    color: #2ed872;
}

span.update {
    color: #d8a126;
}

.blog-item-hyphen {
    margin: 0 0.75rem;
    font-weight: 500;
    color: var(--color-text-secondary);
}

.blog-item-date span {
    color: var(--color-text-secondary);
}

a.overlay {
    width: 100%; 
    height: 100%; 
    position: absolute;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.fade-text {
    overflow: hidden;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(#ffffff, #ffffff00);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.latest-update {
    display: flex;
    margin: 0.75rem 0 0 0;
}

.latest-update-text {
    font-size: 0.85em;
    text-decoration: underline var(--invisible);
    color: var(--color-text-secondary);

    margin: 0;
    padding: 0;
}

.latest-update-text:hover {
    text-decoration: underline var(--color-text-secondary);
}



/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #141414;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 95, 95)242;
}


[type="checkbox"] {
    -ms-transform: scale(1.1); /* IE */
    -moz-transform: scale(1.1); /* FF */
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -o-transform: scale(1.1); /* Opera */
    transform: scale(1.1);
}

.spacer {
    display: flex;
    flex-grow: 1;
}

.button-blue {
    border-radius: var(--control-corner-radius);
    padding: 5px 10px 6px;
    transition: background-color 300ms ease;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-break: break-word;
    
    background-color: var(--color-button-blue-unselected);
    color: black;
    text-decoration: none;
}

.button-blue:hover {
    background-color: var(--color-button-blue-selected);
    text-decoration: none;
}
.floatingchat-container-wrap {
    bottom: 5rem !important;
}
