---
const { title, content, customURL } = Astro.props;
const href = customURL
	? customURL
	: "./projects/" + title.toLowerCase().replace(/\s+/g, "_");
---

<div class="flex flex-wrap items-center sm:items-center gap-x-4 content-start">
	<a class="text-base title underline underline-offset-1" href={href}>
		{title}
	</a>
	<div>{content}</div>
</div>
