<div class="flex flex-wrap items-center sm:items-center gap-x-4">
	<div></div>
</div>

<p>Title</p>
<ul class="flex items-center flex-1 gap-x-4 sm:flex-initial">
	<li>
		<span class="sr-only">Github</span>
		<img src="about-astro.png" />
	</li>
</ul>
