---
const { title } = Astro.props;
---

<div class="flex flex-wrap items-center sm:items-center gap-x-4">
	<p class="text-base title underline underline-offset-1">{title}</p>
	<div>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo maxime,
		temporibus adipisci sapiente dolore aliquid quam enim eligendi dolorem,
		ipsam ea excepturi delectus illo molestiae provident necessitatibus nam
		veritatis illum?
	</div>
</div>
